page-playground {

  ion-content{
    overflow: hidden;
    max-height: 100vh;
  }

  .playbutton.animating {
    transition: transform .3s ease-out;
  }

  .wrapper {
    display: inline-flex;
    justify-content: flex-end;
    height: 100vh;
    width: 80vw;
    padding: 0;
    margin: 0;
  }

  .vertical_line {
    height: 100%;
    width: 2px;
    background: #ffffff;
    opacity: 0.7;
    padding: 0;
    margin: 0;
  }

  .sidebar {
    display: flex;
    justify-content: center space-around;
    flex-flow: column;
    float: right;
    height: 100vh;
    width: 20vw;
    padding: 0;
    margin: 0;
    position: relative;
  }

  // .sidebar:after{
  //   content:'';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   background: url("../assets/pictures/rocks.jpg") no-repeat center center fixed;
  //   background-position: right;
  //   -webkit-filter: blur(2px) brightness(80%);
  //   max-height: 100vh;
  // }

  .text {
    display: flex;
    flex-flow: column;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 10px;
    margin-top: 25px;
  }

  .playbutton_1 {
    display: flex;
    align-self: center;
    width: 150px;
    height: 150px;
    flex-direction: column;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 25px;
    background: url("../assets/pictures/Rings.png") no-repeat center center fixed white;
    background-size: 100% 100%;
  }

  .playbutton_2 {
    align-self: center;
    width: 150px;
    height: 150px;
    flex-direction: column;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 25px;
    background: url("../assets/pictures/Rotor_button.png") no-repeat center center fixed white;
    background-size: 100% 100%;
  }

  .playbutton_3 {
    align-self: center;
    width: 150px;
    height: 150px;
    flex-direction: column;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 25px;
    background: url("../assets/pictures/Atom_button.png") no-repeat center center fixed white;
    background-size: 100% 100%;
  }

  .playbutton_4 {
    align-self: center;
    width: 150px;
    height: 150px;
    flex-direction: column;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 25px;
    background: url("../assets/pictures/Kometen.png") no-repeat center center fixed white;
    background-size: 100% 100%;
  }


  .playground-bg {
    background: url("../assets/pictures/rocks2.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
  }
}
