<ion-content class="playground-bg">
  <span ion-fixed style="height: 100%; width: 100%">
    <div class="wrapper">
      <p class="vertical_line"></p>
    </div>
    <div class="sidebar">
      <p class="text">DRAG FOR MUSIC</p>
      <div data-id="0" class="playbutton playbutton_1"></div>
      <div data-id="1" class="playbutton playbutton_2"></div>
      <div data-id="2" class="playbutton playbutton_3"></div>
      <div data-id="3" class="playbutton playbutton_4"></div>
     </div>
   </span>
</ion-content>
