<ion-content padding class="home-bg">
  <!-- <div>
    <img src="assets/pictures/SIApp_header.png" class="siheader">
  </div> -->
  <div class="center">
    <button ion-button round primary class="startbutton" (click)='startSystem();'>START</button>
  </div>
</ion-content>
