page-home {

  .startbutton {
    width: 100%;
	  height: 0;
	  padding-bottom: 100%;
    border-radius: 50%;
    background-color: #acacac;
    margin-left: 520px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 10px;
  }

  .startbutton:hover {
    background-color:  #808080 !important;
  }

  .button-inner {
    height: 225px;
    margin-left: 6px;
  }

  .siheader {
    text-align: center;
    margin-top: 50px;
    margin-left: 190px;
    width: 70%;
    height: 70%;
  }

  .text {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    z-index: 2;
    color: #ffffff;
  }

  .center {
    text-align: center;
    margin-top: 35%;
    width: 18%;
  }

  .home-bg {
    background: url("../assets/pictures/SI_Startscreen_NEXUS.png") no-repeat center center fixed;
    background-size: 100% 100%;
  }


}
