<div class="wrapper">
  <!-- e.g width: 800px -->
  <p class="vertical_line"></p>
</div>
<div class="sidebar">
  <p class="text">DRAG FOR MUSIC</p>
  <div data-id="0" class="playbutton playbutton_1"></div>
  <div data-id="1" class="playbutton playbutton_2"></div>
  <div data-id="2" class="playbutton playbutton_3"></div>
  <div data-id="3" class="playbutton playbutton_4"></div>
<!-- vertical_line, text, buttons
  no margin, no padding for macro positioning -->
 </div>


page-playground {

  ion-content{
    overflow: hidden;
  }

  .playbutton.animating {
    transition: transform .3s ease-out;
  }

  .wrapper {
    display: inline-flex;
    justify-content: flex-end;
    height: 100vh;
    width: 80vw;
    background-color: blue;
    opacity: 0.7;
    padding: 0;
    margin: 0;
  }

  .vertical_line {
    height: 100%;
    width: 2px;
    background: #ffffff;
    opacity: 0.3;
    padding: 0;
    margin: 0;
  }

  .sidebar {
    display: inline-flex;
    justify-content: center;
    float: right;
    height: 100vh;
    width: 20vw;
    background-color: green;
    opacity: 0.7;
    padding: 0;
    margin: 0;
  }

  .playbutton_1 {
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: row;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .playbutton_2 {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .playbutton_3 {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .playbutton_4 {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: #ffffff;
  }


  .playground-bg {
    background: url("../assets/pictures/MarsSurface.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    // opacity: 0.7;
  }

  //
  // .text {
  //   font-size: 12px;
  //   text-align: center;
  //   color: #ffffff;
  //   letter-spacing: 10px;
  //   margin-top: 10px;
  //   z-index: 2;
  //   padding-left: 1010px;
  // }


}
