page-loading {

  .background-load {
      background-color: #000000;
  }

  .text-load {
      color: #ffffff;
      font-size: 30px;
      margin-left: 300px;
      margin-top: 320px;
      z-index: 1;
      float: left;
      font-weight: 100;
  }

  .loadingdots {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    border-radius: 100px;
    margin-left: 500px;
    margin-top: 315px;
    animation: pulse 2s infinite;
    animation-delay: 1s;
  }

  .loadingdots_2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    border-radius: 100px;
    margin-left: 600px;
    margin-top: 315px;
    animation: pulse 2s infinite;
    animation-delay: 1.5s;
  }

  .loadingdots_3 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    border-radius: 100px;
    margin-left: 700px;
    margin-top: 315px;
    animation: pulse 2s infinite;
    animation-delay: 2s;
  }


  .loadingdots_4 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    border-radius: 100px;
    margin-left: 800px;
    margin-top: 315px;
    animation: pulse 2s infinite;
    animation-delay: 2.5s;
  }

  // .loadingdots_5 {
  //   position: absolute;
  //   width: 40px;
  //   height: 40px;
  //   border: 1px solid black;
  //   text-align: center;
  //   border-radius: 100px;
  //   margin-left: 900px;
  //   margin-top: 315px;
  //   animation: pulse 2s infinite;
  //   animation-delay: 3s;
  // }

  .horizonal_line {
    height: 2px;
    width: 500px;
    background: #ffffff;
    float: left;
    margin-left: -500px;
    margin-top: 360px;
  }

  @keyframes pulse {
    0% {
      background-color: #000000;
    }
  100% {
      background-color: #ffffff;
    }
  }
}
