<ion-content padding class="background-load">
  <div class="text-load">loading</div>
  <p class="horizonal_line"></p>
<!--
  <div class="dot-sizing">
  <ion-spinner name="dots"></ion-spinner>
  </div> -->

  <div class="loadingdots"></div>
  <div class="loadingdots_2"></div>
  <div class="loadingdots_3"></div>
  <div class="loadingdots_4"></div>
  <div class="loadingdots_5"></div>
</ion-content>
